.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    border: none;
   font-family: 'Roboto', sans-serif;
   font-weight: 700;


}

body{
    background-color: rgb(7, 14, 42);
}

.section-container{
    background-color: rgb(172, 240, 77);
    display: flex;
    border: 2px solid rgb(201, 106, 106);

    justify-content: center;
}

form{
    background-color: white;
    padding: 8vw;
}


form p, form ul li{
    font-weight: 400;
}



/* img{
    text-align: right;
} */

li{
    list-style-type: none;
}

#input{
    border: solid 1px;
    width: 60%;
    height: 4vh;
}

.button{
    color: white;
    font-size: 16px;

    width: 18vw;
    height: 3vw;
    background-color: rgba(24, 24, 150, 0.943);
border-radius: 1vw;
}

.button:hover{
    background-color: hsl(4, 100%, 67%);
}

/* Success Page */

.success{
    font-family: 'Roboto', sans-serif;
    width: 30vw;
    min-height: 50vh;

    position: absolute;
    left: 35vw;
    top: 20vh;

    
    background-color: white;
    display: none;
    color: darkblue;

    padding: 2vw ;

}

#tick{
    scale:2.5;
}

#success-title{
    font-size: 50px;
}


#client-email{
    font-weight: 700;
    text-decoration: underline;
}


#success-btn{
    color: white;
    font-size: 20px;
    position: absolute;
    left: 10vw;
    background-color: darkblue;

    padding: 1vw;
    margin: 1vw;

    cursor: pointer;
}

#success-btn:hover{
    background-color: tomato;
}

/* Media Queries */
@media (max-width: 950px)  {
    body{font-size: 0.85em;}

    #tick{
        scale:1.5;
    }

    #success-btn{
        font-size: 10px;
    }
    .success{
        font-size: 12px;
        min-height: 20em;
    }

    #success-title{
        font-size: 20px;
    }

    #main-photo{
        width: 50vw;
        height: 100vh;
    }
}

@media screen and (max-width: 950px) and (orientation: portrait){
body{ text-align: left;
margin: 0;
padding: 0;
}

ul{
    padding: 0px;
}

#submit-Btn{
    color:red;
    font-size: 12px;
    padding: 0;
    min-width: 10em;
    min-height: 2em;
    display:block;
   
   

    
}

}